<% provide(:title, 'Home') %>

<div id="message">Let's Get Started</div>

<div id="timer">
  <span id="minutes">25</span>
  <span id="middle">:</span>
  <span id="seconds">00</span>
</div>

<div id="buttons">
  <button id="start">Start</button>
  <button id="stop">Stop</button>
  <button id="reset">Reset</button>
</div>

<div id="test"></div>